body {
  margin: 0px;
}
.domain {
  display: none;
}
.tick line {
  stroke: #C0C0BB;
}
.tick text, .legendCells text {
  fill: #8E8883;
  font-size: 8pt;
  font-family: sans-serif;
}
.axis-label, .legend-label {
  fill: #635F5D;
  font-size: 20pt;
  font-family: sans-serif;
}

.stacked-vis {
  min-height: 300px;
}

path:hover, rect:hover{
  fill: black;
  fill-opacity: 1;
}

#hoverlabel {
  font-family: "ff-nuvo-sc-web-pro-1","ff-nuvo-sc-web-pro-2", sans-serif;
  fill: #496d64;
  font-size: 15px;
  color: #808080;
  text-anchor: start;
}

#tooltip {
  position: absolute;
  width: 200px;
  height: auto;
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  pointer-events: none;
}

#tooltip.hidden {
  display: none;
}

#tooltip p {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  line-height: 20px;
}


/* Make the chart container fill the page using CSS. */
/*#visualization {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 50%;
}
#visualization2 {
  position: fixed;
  left: 0px;
  right: 0px;
  top: 50%;
  bottom: 0px;
}*/

